.tit{
  text-align: center;
  color: red;
  font-family: 'Arial', sans-serif;
  
}
body{
  background-color: yellow ;
  font-family: 'Arial' sans-serif;
}

.input{
  background-color: white;
  border-radius: 50px;
  height: 1cm;
  width:10cm;
  font-size: 16px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.input1{
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.input2{
  width: 80%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}
.input2::placeholder{
  font-family: 'Arial', sans-serif;
}
.input3{
  width: 100px;
  height: 30px;
  background-color:#fcba03;
  border-radius: 50px;
  color: white;
  font-size: 20px;
}
.input4{
  background-color: white;
  border-radius: 50px;
  height: 1cm;
  width:10cm;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}
.radio1{
  margin-bottom: 20px;
}
.p1{
  position:relative; bottom:2.5px;
}
.p{
  position:relative; top:0px;
}
.radio2{
  position:relative; top:3px
  }
